<h1>Contacts</h1>

<p>if you want to get in touch write to use with the following form:</p>

<form action="">
  <input type="textarea">
  <button type="submit">Submit</button>
</form>


<a href="/"><- Go Back to Homepage</a>
